@page
@model Shop.UI.Pages.AllProductsModel
@{
    ViewData["Title"] = "Ассортимент";
}
<main class="main">
    <div class="page-header text-center" style="background-image: url('/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Ассортимент<span>магазина</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-page="Index">Главная</a></li>
                @*<li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item"><a href="#">No Sidebar</a></li>*@
                <li class="breadcrumb-item active" aria-current="page">Каталог</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content" id="app">
        <div class="container">

            <div class="toolbox">
                <div class="toolbox-left">
                    <a href="#" class="sidebar-toggler"><i class="icon-bars"></i>Фильтры</a>
                </div><!-- End .toolbox-left -->

                <div class="toolbox-center">
                    <div class="toolbox-info">
                        Показывается <span>12 из {{products.length}}</span> Товаров
                    </div><!-- End .toolbox-info -->
                </div><!-- End .toolbox-center -->

                <div class="toolbox-right">

                    <div class="media-boxes-sort">
                        <div class="media-boxes-drop-down" id="sort">
                            <div class="media-boxes-drop-down-header"></div>
                            <ul class="media-boxes-drop-down-menu">
                                <li><a href="#" data-sort-by="original-order" data-sort-ascending="false" class="selected">Нет</a></li>
                                <li><a href="#" data-sort-by="title" data-sort-toggle="true">По имени</a></li>
                                <li><a href="#" data-sort-by="reviews" data-sort-toggle="true">По оценке</a></li>
                                <li><a href="#" data-sort-by="value" data-sort-toggle="true">По цене</a></li>
                            </ul>
                        </div>

                        <div class="media-boxes-sort-order" >
                            <span class="fa fa-chevron-up selected" data-sort-ascending="true"></span>
                            <span class="fa fa-chevron-down" data-sort-ascending="false"></span>
                        </div>
                       </div> 
                    </div><!-- End .toolbox-right -->
                </div><!-- End .toolbox -->
            <div class="products">
            
                    <div id="grid">

                        <div class="media-box col-6 col-md-4 col-lg-4 col-xl-3" v-for="(product, index) in products" @@mouseenter="selectProduct(product, index)" name="product"
                             v-bind:hidden="!product.isActive"
                             v-bind:class="[
                                             'cost'+product.value,
                                             product.category,
                                             product.description,
                             'ram'+product.specification[0].ram,
                             'persistentMemory'+product.specification[0].persistentMemory,
                             'qtySIM'+product.specification[0].qtySIM,
                             'screenDiagonal'+product.specification[0].screenDiagonal,
                             'mainCamera'+product.specification[0].mainCamera,
                             'frontCamera'+product.specification[0].frontCamera,
                             'operatingSystem'+product.specification[0].operatingSystem,
                                             ]">
                            <div class="product">

                                <figure class="product-media">
                                    <span class='product-label label-top' v-if="product.isTrending">Хит</span>
                                    <span class='product-label label-new' v-if="product.isNew">New</span>
                                    <span class='product-label label-sale' v-if="saleLabel(product, index)[0]">{{saleLabel(product, index)[1]}}%</span>
                                    <a :href="returnLink(product.name)">
                                        <img class="product-image shop" id="mainImage" :src="'/images/productsfolder/' + stocks[index].propImage" style="height: 350px; width: 300px; object-fit: fill;"/>
                                    </a>

                                   
                                    <div class="product-action action-icon-top">
                                        <a  class="btn-product btn-cart" @@click="selectProduct(product, index); addOneToCart()" title="В корзину"><span>В корзину</span></a>
                                        <a  class="btn-product btn-wishlist" title="Wish" @@click="selectProduct(product, index); addOneToWish() "id="WishAdd"><span>В избранное</span></a>
                                    </div><!-- End .product-action -->

                                </figure><!-- End .product-media -->
                                <div class="sortingRating" style="display:none">{{product.avRating}}</div>
                                <div class="sortingValue" style="display:none">{{stocks[index].value}}</div>

                                <div class="product-body">
                                    <div class="product-cat">
                                        <a :href="returnLink(product.name)">{{product.category}}</a>
                                    </div>

                                    <h3 class="product-title"><a :href="returnLink(product.name)">{{product.description}} {{product.name}}</a></h3>

                                    <div class="product-price">
                                        <span class="new-price" v-bind:hidden="stocks[index].isOnSale <= 0">{{newValue(index)}} р.</span>
                                        <span class="old-price" v-bind:hidden="stocks[index].isOnSale <= 0"><s>{{stocks[index].value}} р.</s></span>
                                        <span name="mainValue" v-bind:hidden="stocks[index].isOnSale > 0">{{stocks[index].value}} р.</span>
                                    </div>

                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" id="starRat" v-bind:style="{width: (product.avRating*20)+'%'}" style="width: 0%"></div>
                                        </div>
                                        <span class="ratings-text" style="position:absolute; right: 16px;">{{product.review.length}} <i class="fa fa-comments"></i></span>
                                    </div>

                                    <div class="details-filter-row details-row-size" name="haveColors" style="justify-content: center; margin:auto" v-if="activeIndicate(product)">

                                        <div class="product-nav product-nav-dots" v-for="(stock, indexStock) in products[index].stock" v-if="stock.isActive===true">
                                            <a class="" name="colors" @@click="changeOptions(indexStock, index), selectStock(stock, indexStock)" v-bind:style="{background: stock.color}" style="background: #000000; margin: 3px; border: .01em solid rgb(0,0,0,0.05); outline: .2rem solid #fff;" title=""></a>

                                        </div>
                                    </div>

                                    <div v-else class="product-nav product-nav-dots" name="notColors" style="margin-bottom: 38px;"></div>
                                </div><!-- End .product-body -->

                            </div>
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->

              
              
                <!-- End .load-more-container -->
            </div><!-- End .products -->

            <div class="sidebar-filter-overlay"></div><!-- End .sidebar-filter-overlay -->
            <aside class="sidebar-shop sidebar-filter">
                <div class="sidebar-filter-wrapper">
                    <div class="widget widget-clean">
                        <label><i class="icon-close"></i>Фильтры</label>
                        <a href="#" class="sidebar-filter-clear">Очистить</a>
                    </div><!-- End .widget -->
                    <div class="widget widget-collapsible">
                        <h3 class="widget-title">
                            <a data-toggle="collapse" href="#widget-22" role="button" aria-expanded="true" aria-controls="widget-22">
                                Поиск
                            </a>
                        </h3><!-- End .widget-title -->

                        <div class="collapse show" id="widget-22">
                            <div class="widget-body">

                                <div class="header-search-wrapper">
                                    <input type="search" class="form-control" id="search" placeholder="Поиск в каталоге">
                                </div>
                            </div><!-- End .widget-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .widget -->
                    <div class="widget widget-collapsible">
                        <h3 class="widget-title">
                            <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
                                Марка
                            </a>
                        </h3><!-- End .widget-title -->

                        <div class="collapse show" id="widget-1">
                            <div class="widget-body">
                                <div class="filter-items filter-items-count">
                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <label class="media-boxes-checkboxes-label custom-control-label">
                                                Apple
                                                <input type="checkbox" class="filters filters2 custom-control-input" data-filter=".Apple" data-id="Apple">
                                                <label class="custom-control-label media-boxes-checkboxes-label" style="pointer-events: none; "></label>
                                            </label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <label class="media-boxes-checkboxes-label custom-control-label">
                                                Samsung
                                                <input type="checkbox" class="filters filters2 custom-control-input" data-filter=".Samsung" data-id="Samsung">
                                                <label class="custom-control-label media-boxes-checkboxes-label" style="pointer-events: none; "></label>
                                            </label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <label class="media-boxes-checkboxes-label custom-control-label">
                                                Xiaomi
                                                <input type="checkbox" class="filters filters2 custom-control-input" data-filter=".Xiaomi" data-id="Xiaomi">
                                                <label class="custom-control-label media-boxes-checkboxes-label" style="pointer-events: none; "></label>
                                            </label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <label class="media-boxes-checkboxes-label custom-control-label">
                                                Huawei
                                                <input type="checkbox" class="filters filters2 custom-control-input" data-filter=".Huawei" data-id="Huawei">
                                                <label class="custom-control-label media-boxes-checkboxes-label" style="pointer-events: none; "></label>
                                            </label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <label class="media-boxes-checkboxes-label custom-control-label">
                                                Honor
                                                <input type="checkbox" class="filters filters2 custom-control-input" data-filter=".Honor" data-id="Honor">
                                                <label class="custom-control-label media-boxes-checkboxes-label" style="pointer-events: none; "></label>
                                            </label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->
                                </div><!-- End .filter-items -->
                            </div><!-- End .widget-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .widget -->

                    <div class="widget widget-collapsible">
                        <h3 class="widget-title">
                            <a data-toggle="collapse" href="#widget-2" role="button" aria-expanded="true" aria-controls="widget-2">
                                Операционная система
                            </a>
                        </h3><!-- End .widget-title -->

                        <div class="collapse show" id="widget-2">
                            <div class="widget-body">
                                <div class="filter-items">

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <label class="media-boxes-checkboxes-label custom-control-label">
                                                iOS
                                                <input type="checkbox" class="filters filters2 custom-control-input" data-filter=".operatingSystemiOS" data-id="operatingSystemiOS">
                                                <label class="custom-control-label media-boxes-checkboxes-label" style="pointer-events: none; "></label>
                                            </label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <label class="media-boxes-checkboxes-label custom-control-label">
                                                Android
                                                <input type="checkbox" class="filters filters2 custom-control-input" data-filter=".operatingSystemAndroid" data-id="operatingSystemAndroid">
                                                <label class="custom-control-label media-boxes-checkboxes-label" style="pointer-events: none; "></label>
                                            </label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <label class="media-boxes-checkboxes-label custom-control-label">
                                                Windows
                                                <input type="checkbox" class="filters filters2 custom-control-input" data-filter=".operatingSystemWindows" data-id="operatingSystemWindows">
                                                <label class="custom-control-label media-boxes-checkboxes-label" style="pointer-events: none; "></label>
                                            </label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->
                                </div><!-- End .filter-items -->
                            </div><!-- End .widget-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .widget -->

                    <div class="widget widget-collapsible">
                        <h3 class="widget-title">
                            <a data-toggle="collapse" href="#widget-3" role="button" aria-expanded="true" aria-controls="widget-3">
                                Оперативная память
                            </a>
                        </h3><!-- End .widget-title -->

                        <div class="collapse show" id="widget-3">
                            <div class="widget-body">
                                <div class="filter-items">

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <label class="media-boxes-checkboxes-label custom-control-label">
                                                2 Гб
                                                <input type="checkbox" class="filters filters2 custom-control-input" data-filter=".ram2" data-id="ram2">
                                                <label class="custom-control-label media-boxes-checkboxes-label" style="pointer-events: none; "></label>
                                            </label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <label class="media-boxes-checkboxes-label custom-control-label">
                                                4 Гб
                                                <input type="checkbox" class="filters filters2 custom-control-input" data-filter=".ram4" data-id="ram4">
                                                <label class="custom-control-label media-boxes-checkboxes-label" style="pointer-events: none; "></label>
                                            </label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <label class="media-boxes-checkboxes-label custom-control-label">
                                                6 Гб
                                                <input type="checkbox" class="filters filters2 custom-control-input" data-filter=".ram6" data-id="ram6">
                                                <label class="custom-control-label media-boxes-checkboxes-label" style="pointer-events: none; "></label>
                                            </label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <label class="media-boxes-checkboxes-label custom-control-label">
                                                8 Гб
                                                <input type="checkbox" class="filters filters2 custom-control-input" data-filter=".ram8" data-id="ram8">
                                                <label class="custom-control-label media-boxes-checkboxes-label" style="pointer-events: none; "></label>
                                            </label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->
                                </div><!-- End .filter-items -->
                            </div><!-- End .widget-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .widget -->

                    <div class="widget widget-collapsible">
                        <h3 class="widget-title">
                            <a data-toggle="collapse" href="#widget-4" role="button" aria-expanded="true" aria-controls="widget-4">
                                Встроенная память
                            </a>
                        </h3><!-- End .widget-title -->

                        <div class="collapse show" id="widget-4">
                            <div class="widget-body">
                                <div class="filter-items">

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <label class="media-boxes-checkboxes-label custom-control-label">
                                                32 Гб
                                                <input type="checkbox" class="filters filters2 custom-control-input" data-filter=".persistentMemory32" data-id="persistentMemory32">
                                                <label class="custom-control-label media-boxes-checkboxes-label" style="pointer-events: none; "></label>
                                            </label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <label class="media-boxes-checkboxes-label custom-control-label">
                                                64 Гб
                                                <input type="checkbox" class="filters filters2 custom-control-input" data-filter=".persistentMemory64" data-id="persistentMemory64">
                                                <label class="custom-control-label media-boxes-checkboxes-label" style="pointer-events: none; "></label>
                                            </label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <label class="media-boxes-checkboxes-label custom-control-label">
                                                128 Гб
                                                <input type="checkbox" class="filters filters2 custom-control-input" data-filter=".persistentMemory128" data-id="persistentMemory128">
                                                <label class="custom-control-label media-boxes-checkboxes-label" style="pointer-events: none; "></label>
                                            </label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <label class="media-boxes-checkboxes-label custom-control-label">
                                                256 Гб
                                                <input type="checkbox" class="filters filters2 custom-control-input" data-filter=".persistentMemory256" data-id="persistentMemory256">
                                                <label class="custom-control-label media-boxes-checkboxes-label" style="pointer-events: none; "></label>
                                            </label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <label class="media-boxes-checkboxes-label custom-control-label">
                                                512 Гб
                                                <input type="checkbox" class="filters filters2 custom-control-input" data-filter=".persistentMemory512" data-id="persistentMemory512">
                                                <label class="custom-control-label media-boxes-checkboxes-label" style="pointer-events: none; "></label>
                                            </label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->
                                </div><!-- End .filter-items -->
                            </div><!-- End .widget-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .widget -->

                    <div class="widget widget-collapsible">
                        <h3 class="widget-title">
                            <a data-toggle="collapse" href="#widget-5" role="button" aria-expanded="true" aria-controls="widget-5">
                                Количество SIM-карт
                            </a>
                        </h3><!-- End .widget-title -->

                        <div class="collapse show" id="widget-5">
                            <div class="widget-body">
                                <div class="filter-items">

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <label class="media-boxes-checkboxes-label custom-control-label">
                                                1
                                                <input type="checkbox" class="filters filters2 custom-control-input" data-filter=".qtySIM1" data-id="qtySIM1">
                                                <label class="custom-control-label media-boxes-checkboxes-label" style="pointer-events: none; "></label>
                                            </label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <label class="media-boxes-checkboxes-label custom-control-label">
                                                2
                                                <input type="checkbox" class="filters filters2 custom-control-input" data-filter=".qtySIM2" data-id="qtySIM2">
                                                <label class="custom-control-label media-boxes-checkboxes-label" style="pointer-events: none; "></label>
                                            </label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <label class="media-boxes-checkboxes-label custom-control-label">
                                                3
                                                <input type="checkbox" class="filters filters2 custom-control-input" data-filter=".qtySIM3" data-id="qtySIM3">
                                                <label class="custom-control-label media-boxes-checkboxes-label" style="pointer-events: none; "></label>
                                            </label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <label class="media-boxes-checkboxes-label custom-control-label">
                                                4
                                                <input type="checkbox" class="filters filters2 custom-control-input" data-filter=".qtySIM4" data-id="qtySIM4">
                                                <label class="custom-control-label media-boxes-checkboxes-label" style="pointer-events: none; "></label>
                                            </label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->
                                </div><!-- End .filter-items -->
                            </div><!-- End .widget-body -->

                        </div><!-- End .collapse -->
                    </div><!-- End .widget -->


                    <div class="widget widget-collapsible">
                        <h3 class="widget-title">
                            <a data-toggle="collapse" href="#widget-6" role="button" aria-expanded="true" aria-controls="widget-6">
                                Основная камера
                            </a>
                        </h3><!-- End .widget-title -->

                        <div class="collapse show" id="widget-6">
                            <div class="widget-body">
                                <div class="filter-items">

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <label class="media-boxes-checkboxes-label custom-control-label">
                                                8 МП
                                                <input type="checkbox" class="filters filters2 custom-control-input" data-filter=".mainCamera8" data-id="mainCamera8">
                                                <label class="custom-control-label media-boxes-checkboxes-label" style="pointer-events: none; "></label>
                                            </label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <label class="media-boxes-checkboxes-label custom-control-label">
                                                12 МП
                                                <input type="checkbox" class="filters filters2 custom-control-input" data-filter=".mainCamera12" data-id="mainCamera12">
                                                <label class="custom-control-label media-boxes-checkboxes-label" style="pointer-events: none; "></label>
                                            </label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <label class="media-boxes-checkboxes-label custom-control-label">
                                                16 МП
                                                <input type="checkbox" class="filters filters2 custom-control-input" data-filter=".mainCamera16" data-id="mainCamera16">
                                                <label class="custom-control-label media-boxes-checkboxes-label" style="pointer-events: none; "></label>
                                            </label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <label class="media-boxes-checkboxes-label custom-control-label">
                                                24 МП
                                                <input type="checkbox" class="filters filters2 custom-control-input" data-filter=".mainCamera12" data-id="mainCamera12">
                                                <label class="custom-control-label media-boxes-checkboxes-label" style="pointer-events: none; "></label>
                                            </label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <label class="media-boxes-checkboxes-label custom-control-label">
                                                32 МП
                                                <input type="checkbox" class="filters filters2 custom-control-input" data-filter=".mainCamera32" data-id="mainCamera32">
                                                <label class="custom-control-label media-boxes-checkboxes-label" style="pointer-events: none; "></label>
                                            </label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <label class="media-boxes-checkboxes-label custom-control-label">
                                                64 МП
                                                <input type="checkbox" class="filters filters2 custom-control-input" data-filter=".mainCamera64" data-id="mainCamera64">
                                                <label class="custom-control-label media-boxes-checkboxes-label" style="pointer-events: none; "></label>
                                            </label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <label class="media-boxes-checkboxes-label custom-control-label">
                                                108 МП
                                                <input type="checkbox" class="filters filters2 custom-control-input" data-filter=".mainCamera108" data-id="mainCamera108">
                                                <label class="custom-control-label media-boxes-checkboxes-label" style="pointer-events: none; "></label>
                                            </label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->
                                </div><!-- End .filter-items -->
                            </div><!-- End .widget-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .widget -->




                </div><!-- End .sidebar-filter-wrapper -->
            </aside><!-- End .sidebar-filter -->

        </div><!-- End .container -->
            </div><!-- End .page-content -->
</main><!-- End .main -->
<partial name="_CookieConsentPartial" />

@section scripts{
    <script src="/js/user/shop.js"></script>
    <script src="/js/wNumb.js"></script>
    <script src="/js/nouislider.min.js"></script>
    <script src="/plugins/components/jQuery/jquery-3.6.0.min.js"></script>
    <script src="/plugins/components/Isotope/jquery.isotope.min.js"></script>
    <script src="/plugins/components/imagesLoaded/jquery.imagesLoaded.min.js"></script>
    <script src="/plugins/components/Transit/jquery.transit.min.js"></script>
    <script src="/plugins/components/jQuery Easing/jquery.easing.js"></script>
    <script src="/plugins/components/jQuery Visible/jquery.visible.min.js"></script>
    <script src="/plugins/components/Modernizr/modernizr.custom.min.js"></script>
    <script src="/plugins/components/Magnific Popup/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.mediaBoxes.dropdown.js"></script>
    <script src="/js/jquery.mediaBoxes.js"></script>
    <script src="/js/wNumb.js"></script>
    <script src="/js/nouislider.min.js"></script>

    <script>
        window.onload = function () {

            $('#grid').mediaBoxes({
                multipleFilterLogic: 'OR',
                filterContainer: '.filters',
                sortContainer: '#sort',
                search: '#search',
                boxesToLoadStart: 99,
                columns: 4,
                horizontalSpaceBetweenBoxes: 5,
                verticalSpaceBetweenBoxes: 10,
                minBoxesPerFilter: 999,
                searchTarget: '.product-title',
                noMoreEntriesWord: 'На этом всё',
                getSortData: {
                    title: '.product-title',
                    reviews: '.sortingRating',
                    value: '.sortingValue',
                },
            });
            $('#grid2').mediaBoxes({
                multipleFilterLogic: 'OR',
                filterContainer: '.filters2',
                boxesToLoadStart: 20,
                columns: 1,
                verticalSpaceBetweenBoxes: 10,
                minBoxesPerFilter: 999,
                noMoreEntriesWord: false,
            });
        }

        $(".sidebar-filter-clear").click(function () {
            $('[data-filter="*"]').trigger('click');
        });

        on4Columns = function () {

            document.getElementById('columns').innerHTML = 4;
            document.getElementById('col4').classList.add('active');
            document.getElementById('col3').classList.remove('active');
            document.getElementById('col2').classList.remove('active');
            $('#grid').mediaBoxes('resize');
        }
        on3Columns = function () {
            document.getElementById('columns').innerHTML = 3;
            $('#grid').mediaBoxes('resize');
            document.getElementById('col4').classList.remove('active');
            document.getElementById('col3').classList.add('active');
            document.getElementById('col2').classList.remove('active');
        }
        on2Columns = function () {
            document.getElementById('columns').innerHTML = 2;
            $('#grid').mediaBoxes('resize');
            document.getElementById('col4').classList.remove('active');
            document.getElementById('col3').classList.remove('active');
            document.getElementById('col2').classList.add('active');
        }

    </script>

    <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "3000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
    <script>

        var logger = function () {
            console.log(document.getElementById('stockid').value);
        }
    </script>
    <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "3000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
}
