@page
@model Shop.UI.Pages.contactModel
@{
    ViewData["Title"] = "Контакты";
}

<!DOCTYPE html>
<html lang="en">
<body>
    <div class="page-wrapper">
        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-page="Index">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Контакты
                        <li />
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
            <div class="container">
                <div class="page-header page-header-big text-center" style="background-image: url('/images/index/iPhone12.jpg')">
                    <h1 class="page-title text-white">Свяжитесь с нами<span class="text-white">Мы сможем Вам помочь</span></h1>
                </div><!-- End .page-header -->
            </div><!-- End .container -->

            <div class="page-content pb-0">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 mb-2 mb-lg-0">
                            <h2 class="title mb-1">Контактная информация</h2><!-- End .title mb-2 -->
                            <p class="mb-3">Поддержка работает круглосуточно, Вы можете позвонить в любое время или прийти к нам в офис, чтобы задать интрересующие Вас вопросы. Проatccионально подготовленный персонал сможет ответить на Ваши вопросы</p>
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="contact-info">
                                        <h3>Офис</h3>

                                        <ul class="contact-list">
                                            <li>
                                                <i class="icon-map-marker"></i>
                                                ул. Красная 19Б, Минск, Беларусь
                                            </li>
                                            <li>
                                                <i class="icon-phone"></i>
                                                <a href="tel:#">+375 29 122 18 55</a>
                                            </li>
                                            <li>
                                                <i class="icon-envelope"></i>
                                                <a href="mailto:#">ulyaa.071@gmail.com</a>
                                            </li>
                                        </ul><!-- End .contact-list -->
                                    </div><!-- End .contact-info -->
                                </div><!-- End .col-sm-7 -->

                                <div class="col-sm-5">
                                    <div class="contact-info">
                                        <h3>Офис</h3>

                                        <ul class="contact-list">
                                            <li>
                                                <i class="icon-clock-o"></i>
                                                <span class="text-dark">Понедельник - Суббота</span> <br>8.00 - 17.00
                                            </li>
                                            <li>
                                                <i class="icon-calendar"></i>
                                                <span class="text-dark">Воскресенье</span> <br> Выходной
                                            </li>
                                        </ul><!-- End .contact-list -->
                                    </div><!-- End .contact-info -->
                                </div><!-- End .col-sm-5 -->
                            </div><!-- End .row -->
                        </div><!-- End .col-lg-6 -->
                        <div class="col-lg-6">
                            <h2 class="title mb-1">Остались вопросы?</h2><!-- End .title mb-2 -->
                            <p class="mb-2">Напишите нам, и мы сможм на них ответить!</p>

                            <form action="#" class="contact-form mb-3">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="cname" class="sr-only">Имя</label>
                                        <input type="text" class="form-control" id="cname" placeholder="Имя" required>
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <label for="cemail" class="sr-only">Эл. адрес</label>
                                        <input type="email" class="form-control" id="cemail" placeholder="Эл. адрес" required>
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="cphone" class="sr-only">Телефон</label>
                                        <input type="tel" class="form-control" id="cphone" placeholder="Телефон">
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <label for="csubject" class="sr-only">Тема</label>
                                        <input type="text" class="form-control" id="csubject" placeholder="Тема">
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                                <label for="cmessage" class="sr-only">Сообщение</label>
                                <textarea class="form-control" cols="30" rows="4" id="cmessage" required placeholder="Сообщение"></textarea>

                                <button type="submit" class="btn btn-outline-primary-2 btn-minwidth-sm">
                                    <span>ОТПРАВИТЬ</span>
                                    <i class="icon-long-arrow-right"></i>
                                </button>
                            </form><!-- End .contact-form -->
                        </div><!-- End .col-lg-6 -->
                    </div><!-- End .row -->

                    <hr class="mt-4 mb-5">

                    <div class="stores mb-4 mb-lg-5">
                        <h2 class="title text-center mb-3">Наши магазины</h2><!-- End .title text-center mb-2 -->

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="store">
                                    <div class="row">
                                        <div class="col-sm-5 col-xl-6">
                                            <figure class="store-media mb-2 mb-lg-0">
                                                <img src="/images/stores/img-1.jpg" alt="image">
                                            </figure><!-- End .store-media -->
                                        </div><!-- End .col-xl-6 -->
                                        <div class="col-sm-7 col-xl-6">
                                            <div class="store-content">
                                                <h3 class="store-title">Торговый центр "Галерея Минск"</h3><!-- End .store-title -->
                                                <address>88 Pine St, New York, NY 10005, USA</address>
                                                <div><a href="tel:#">+1 987-876-6543</a></div>

                                                <h4 class="store-subtitle">Store Hours:</h4><!-- End .store-subtitle -->
                                                <div>Monday - Saturday 11am to 7pm</div>
                                                <div>Sunday 11am to 6pm</div>

                                                <a href="#" class="btn btn-link" target="_blank"><span>View Map</span><i class="icon-long-arrow-right"></i></a>
                                            </div><!-- End .store-content -->
                                        </div><!-- End .col-xl-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .store -->
                            </div><!-- End .col-lg-6 -->

                            <div class="col-lg-6">
                                <div class="store">
                                    <div class="row">
                                        <div class="col-sm-5 col-xl-6">
                                            <figure class="store-media mb-2 mb-lg-0">
                                                <img src="/images/stores/img-2.jpg" alt="image">
                                            </figure><!-- End .store-media -->
                                        </div><!-- End .col-xl-6 -->

                                        <div class="col-sm-7 col-xl-6">
                                            <div class="store-content">
                                                <h3 class="store-title">One New York Plaza</h3><!-- End .store-title -->
                                                <address>88 Pine St, New York, NY 10005, USA</address>
                                                <div><a href="tel:#">+1 987-876-6543</a></div>

                                                <h4 class="store-subtitle">Store Hours:</h4><!-- End .store-subtitle -->
                                                <div>Monday - Friday 9am to 8pm</div>
                                                <div>Saturday - 9am to 2pm</div>
                                                <div>Sunday - Closed</div>

                                                <a href="#" class="btn btn-link" target="_blank"><span>View Map</span><i class="icon-long-arrow-right"></i></a>
                                            </div><!-- End .store-content -->
                                        </div><!-- End .col-xl-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .store -->
                            </div><!-- End .col-lg-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .stores -->
                </div><!-- End .container -->
                <div id="map"></div><!-- End #map -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
</body>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDc3LRykbLB-y8MuomRUIY0qH5S6xgBLX4&callback=initMap&v=weekly"></script>
<script>
    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 53.91670832181059, lng: 27.579408012387013 },
            zoom: 8,
        });
    }
</script>
</html>